apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-deployment
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
      - name: weather-ml-container
        image: schnumph/weather-ml-app:latest
        ports:
        - containerPort: 5000
        hostPort 5000




