- name: Install kubectl on Production Server
  hosts: localhost
  become: yes
  tasks:
    - name: Download kubectl binary
      get_url:
        url: https://dl.k8s.io/release/v1.29.0/bin/linux/amd64/kubectl
        dest: /usr/local/bin/kubectl
        mode: '0755'

    - name: Verify kubectl installation
      command: kubectl version --client
      register: kubectl_version

    - debug:
        msg: "Kubectl installed successfully: {{ kubectl_version.stdout }}"
